<ion-header [translucent]="true">

  <ion-toolbar class="navbar">
    <ion-title>Profile</ion-title>
        <ion-icon (click)="openHome()" name="home" slot="end" class="home"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content class="navbar" [fullscreen]="true">
  <ion-header class="navbar" collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="base">
    <div class="avatar" (click)="openAvatarModal()">
      <img
        [src]="profile.avatarUrl"
        alt="User profile avatar"
        class="person-avatar"
        (error)="handleImageError($event)"
      />
    </div>
    <h2 class="person-apelido" (click)="openNicknameModal()">{{ profile.nickname }}</h2>
    <h3 class="person-name">{{ profile.fullName }}</h3>
    <h4 class="person-frase">{{ profile.quote }}</h4>
    <h4 class="person-code">Student ID: {{ profile.studentCode }}</h4>
    <div class="person-follow">
    <h4 class="person-friends">Friends: {{ profile.friendsCount }}</h4>
    <h4 class="person-classmates">Classmates: {{ profile.classmatesCount }}</h4>
  </div>
  </div>
</ion-content>


