<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Historiar</ion-title>
    <ion-avatar slot="end" style="margin-right: 10px;" (click)="goToProfile()">
      <img [src]="avatarUrl || 'https://iili.io/KjkZqap.md.png'" alt="User avatar" />
    </ion-avatar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="base">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Historiar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="columns-container">
    <div class="column" *ngFor="let column of cardColumns; let i = index">
      <h2 class="column-title">{{ columnTitles[i] }}</h2>
      <div class="cards-scroll">
        <ion-card *ngFor="let card of column.cards">
          <img [src]="card.image" alt="Placeholder image" />
          <ion-card-header>
            <ion-card-title>{{ card.title }}</ion-card-title>
            <ion-card-subtitle>{{ card.year }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>{{ card.description }}</p>
            <p><strong>Duration:</strong> {{ card.duration }}</p>
            <ion-button expand="block" color="primary" (click)="openCamera()">Start</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
